@layer fonts {
  @font-face {
    font-family: 'Big Shoulders';
    src: url('./../assets/fonts/big-shoulders-vf.woff2') format('woff2');
    font-display: swap;
    font-style: normal;
    font-weight: 100 900;
  }

  @font-face {
    font-family: 'Outfit';
    src: url('./../assets/fonts/outfit-vf.woff2') format('woff2');
    font-display: swap;
    font-style: normal;
    font-weight: 100 900;
  }
}